.param-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 40% 60%;
}

.param-name {
  grid-column: 1;
  grid-row: 1;
}

.param-value {
  grid-column: 1;
  grid-row: 2;
}

.chart-cell {
  grid-column: 2;
  grid-row: 1 / 3;
}
