// p-card の border はデザイントークン化されておらず通常の詳細度では上書きできないため !important で上書きする。
.p-card {
  border: 1px solid silver !important;
}

.param-grid {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 40% 60%;
}

.param-name {
  grid-column: 1;
  grid-row: 1;
  font-weight: bold;
}

.param-value {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
  grid-row: 2;
  font-weight: bold;
  font-size: x-large;
}

.chart-cell {
  grid-column: 2;
  grid-row: 1 / 3;
}
